geopandas==0.13.1
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
numpy==1.24.3
pandas==2.0.2
streamlit==1.22.0
streamlit-folium==0.12.0
